.etotext1 {
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}

.etotext2 {
    text-decoration: line-through 1.6px;
}

.etotext3 {
    text-align: center;
    text-transform: uppercase; 
}

.etotext4 {
    word-spacing: 30px;
    text-decoration: overline wavy 1.5px;
    text-shadow: 1.5px 1.5px 1.5px #b884cc;
}

.etotext5 {
    letter-spacing: 5px;
    text-decoration: underline double 1.8px;
}