body {
    font-size: 32px;
    font-family: "VT323";
    color: aliceblue;
    background: #43464b; 
}

* {
    box-sizing: border-box;
}

.tablet {
    background: #880808;
    border: 10px solid #000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 2800px;
    height: 1200px;
    overflow: auto;
}

.berserk {
    padding: 40px 50px 70px 50px;
    margin: 10px;
    width: 600px;
    background: #000000;
    display: inline-block;
    border: 1px;
    border-radius: 30px;
    box-shadow: 0px 0px 26px 5px #df6b0c inset;
    
    
}

.opening {
    color: #df6b0c;
}

